.LoadingButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffa94d;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  cursor: not-allowed;
  transition: background-color 0.3s, transform 0.2s;
}

.LoadingButton:hover {
  background-color: #ff922b;
}

.LoadingButton:active {
  transform: scale(0.97);
}

.LoadingButton .Loading {
  width: 20px;
  height: 20px;
  animation: rotate 1s linear infinite;
}

@media (max-width: 768px) {
  .LoadingButton {
    width: 100%;
  }
}

/* Spinner rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
